/node_modules
/public/hot
/public/js
/public/css
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/mix-manifest.json
.DS_Store
.idea/
app/.DS_Store
app/Http/.DS_Store
app/View/.DS_Store
